doctype html
html
	head
		script(src="/js/riot.js")
	body
		h1 ToDo App
		h2 here is my change
		h3 here is my other change
		script(type="riot/tag" src="/tags/todo.tag")
		script(src="/js/client.js")
		todo
		script.
			riot.mount('todo', todoAPI);
